## Editor behaviour
# Backups
set backupdir "~/.nano/backup"
set backup

# Spaces
set tabstospaces
set nonewlines
set autoindent
set tabsize 4

# Cursor moving
set positionlog
set smarthome
set softwrap
set zap

## Editor elements
set constantshow
set linenumbers
set indicator
set minibar

## Colors
set scrollercolor grey
set   numbercolor white
set      keycolor bold,white

## Bindings

# duplicate
bind ^D "{copy}{paste}{up}" main
# move line up
bind Sh-M-W "{cut}{up}{paste}{up}" main
# move line down
bind Sh-M-S "{cut}{down}{paste}{up}" main

## Syntax highlight

include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"

## C/C++
# formatter program
extendsyntax c formatter astyle
# escape symbol in string and character literal
extendsyntax c color orange "\\($|[\'"abfnrtv]|[0-3]?[0-7]?[0-7]|x[[:xdigit:]]{2})"
# format specifier
extendsyntax c color cyan "%(%|[-+ \#0]?(\*|[[:digit:]]+)?(\.(\*|[[:digit:]]+))?(hh?|ll?|j|z|t|L)?[csdioxXufFeEaAgGnp])"
